<link rel="stylesheet" href="app/app.css"> 
<div class="navbar navbar-default navbar-static-top topNav" ng-controller="NavbarCtrl" style="background-color:#009F50;">
  <div class="container">
    <div class="logo"> <a href="index.html#"="" style="float:left;margin-top:10px;"><img src="http://getbarterly.com/1/logo.png" alt="logo"></a></div>
    <div class="customNav">
      <a no-href ng-class="{currentPage: isActive('/courses'),notCurrent:isActive('/confirmation')}"><b>1</b> Your Details</a>
      &nbsp
      <a no-href  ng-class="{currentPage: isActive('/confirmation'), notCurrent:isActive('/courses')}"><b>2</b> Confirmation</a>
      
    </div>
    <!-- 
    
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      

      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: isActive('/courses')}"><a href="/"><b>1</b> Your Details</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div> -->
  </div>
</div>
