/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    margin-top: -10px;
}
.logo{
  margin-top: 45px;
}
.hero-unit {
    margin:0 auto;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    /*background: #26497d;*/
    padding-top: 5px;
}

.footer {
    
    text-align: center;
    /*padding: 30px 0;
    margin-top: 70px;*/
    font-family: helvetica neue, arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color:white;
    border-top: 1px solid #E5E5E5;
}

.btn,
.btn-lg, 
.btn-success{
  font-family: helvetica neue, arial, sans-serif;
  font-weight: lighter;
}

.mainCustom{
    /*display: block;*/
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    font-family: helvetica neue, arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    line-height: 35px;
    letter-spacing: .60px;
}

p{
    line-height: 25px;
}


/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    
    background-attachment:fixed;
    background-size:cover;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
  min-height:100%;
}

.container{
  width:50%;
  background-color: hsla(333, 0%, 9%, 0.78);
  border:1px;
}

@media (max-width: 900px){
  .container{
    width:70%;
  }
}
@media (max-width: 620px){
  .container{
    width:100%;
  }
}
/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    font-size:28px;
    line-height:100px;
  color:#ffffff;
    text-align:center;
}
section {
  background:#9ed100;
}

